{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="container">
    <h1>This is the Product page</h1>

    <div id="root"></div>
</div>
{% endblock %}
